.container2 {
    height: 120vh;
    padding: 9px;
    position: relative;
    overflow: hidden;
}

.container2::after {
    content: "";
    background-image: url("cards/bg2.jpg");
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.17;
    border-radius: 12px;
    z-index: -1;
    background-size: cover;
}

.container2 h1 {
    margin-top: 12px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin-bottom: 20px;
}