    .logotext img {
        height: 3vw;
        width: 3vw;
        margin-left: 20px;
    }
    
    .logotext h1 {
        font-size: 12px;
        color: white;
    }
    
    .nav-item {
        margin-left: 25px;
    }
    
    .carousel-item img {
        height: 25vw;
    }
    /* #carouselExampleCaptions {
        margin-top: 12px !important;
    } */
    
    #card-container1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #card-container2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .card img {
        height: 200px;
        width: 285px;
    }
    
    .para1 {
        margin-left: 12px;
        margin-right: 12px;
        background-color: grey;
        color: black;
    }
    
    .para1 h3 {
        display: flex;
        justify-content: center;
        font-size: 100px;
        text-decoration: underline;
        color: black;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        height: 50px;
        align-items: center;
    }
    
    .row1 {
        display: flex;
        width: 1000px;
        justify-content: space-around;
        margin-bottom: 25px;
    }
    
    .col1 {
        width: 455px;
    }
    
    .form-select {
        width: 500px;
        margin-left: 30%;
        margin-right: 50%;
        margin-bottom: 25px;
    }
    
    .gmail input {
        font-size: 12px;
        width: 400px;
        margin-left: 30%;
    }